.task {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.58);
    border-radius: 5%;
    margin: 1px 20px;
    padding: 0px 20px;
    cursor: pointer;
    text-align: start;
    color: black;
    font-size: large;
    font-family: cursive;
    font-style: italic;
    /* text-shadow: 1px black; */
    /* font-size: medium; */
    font-weight: 100 !important;
    /* font-style: normal; */
    /* font-family: cursive; */
    height: min-content;

}

.task:hover {
    background-color: white;
}