.list {
    color: rgb(0, 0, 0);
    border-radius: 2%;
    padding: 1px 2px;
    margin: 30px 1px;
    height: 100px;
    /* align-items: start; */
    position: relative;
    transform: translateZ(0);
    display: table;
    table-layout: fixed;
    flex-direction: column;
    align-content: center;
    text-align: center;
    content: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
    transition: transform 0.5s ease-out;
    /* grid-template-columns: 1h 1h 1h 1h 1h; */
    max-width: fit-content;
    min-width: max-content;
}

.list:hover {
    transform: scale(1.2);
    box-shadow: 1px 1px 30px 5px rgba(7, 37, 138, 0.808);
    /* rgba(0, 0, 0, 0.788); */
    min-height: max-content;
    min-height: min-content;
    max-width: fit-content;
    min-width: max-content;
    max-height: max-content;
    /* font-size: larger;
    font-weight: bolder;
    font-style: italic; */
    border-radius: 6%;
    height: fit-content;
}

.add-form {
    /* margin-bottom: 40px; */
}

.form-control {
    /* margin: 20px 0; */
}

.form-control label {
    display: block;
}

.form-control input {
    width: 100%;
    /* height: 40px; */
    /* margin: 5px; */
    /* padding: 3px 7px; */
    /* font-size: 17px; */
}

.title {

    color: black;
    font-size: x-large;
    font-family: cursive;
    font-weight: 900;
    font-style: italic;
    margin: 10px;
}

.addbtn {
    color: black;
    font-size: large;
    font-family: cursive;
    font-style: italic;
    box-shadow: 1px 1px 1px 1px rgba(0, 10, 104, 1);
    width: 8em;
    height: min-content;
    margin-left: 3%;
    margin-bottom: 3px;
    border-radius: 4%;
    border: 1px black;
    background-color: rgba(250, 241, 230, 0.87);

}

.addbtn:hover {
    /* background-color: rgba(20, 206, 57, 0.44); */
    cursor: pointer;
    /* background-color: rgba(208, 252, 238, 0.92); */
    /* background-color: rgba(32, 25, 169, 0.772); */
}