.list {
    color: rgb(255, 255, 255);
        /* border-radius: 1%; */
    padding: 1px 2px;
    margin: 10px 1px;
        margin-left: 20px;
        margin-top: 30px;
        height: min-content;
    /* align-items: start; */
    position: relative;
    transform: translateZ(0);
    display: table;
    table-layout: fixed;
    flex-direction: column;
    align-content: center;
    text-align: center;
    content: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
    transition: transform 0.5s ease-out;
    width: 250px;
    font-weight: 500;
        /* max-height: min-content; */
        /* height: 300px; */
        overflow-y: scroll;
        border-radius: 2%;
        /* min-width: max-content; */
}

.list:hover {
    margin: 100px;
        width: content;
        /* min-height: max-content; */
        transform: scale(1.5);
        box-shadow: 1px 2px 16px 10px rgba(115, 0, 255, 0.616);
        /* rgba(85, 83, 255 */
    min-height: max-content;
    min-height: min-content;
    max-height: max-content;
    /* font-size: larger;
    font-weight: bolder;
    font-style: italic; */
    border-radius: 9%;
        height: fit-content;
        /* 300px; */
        
            max-width: 750px !important;
}

.add-form {
    /* margin-bottom: 40px; */
}

.form-control {
    /* margin: 20px 0; */
}

.form-control label {
    display: block;
}

.form-control input {
    width: 100%;
    /* height: 40px; */
    /* margin: 5px; */
    /* padding: 3px 7px; */
    /* font-size: 17px; */
}

.title {
color: rgb(0, 0, 0);
    font-size: large;
    font-family: cursive;
    font-weight: 800;
    font-style: italic;
    margin: 10px;
}

.addbtn {
    color: black;
    font-size: large;
    font-family: cursive;
    font-style: italic;
    box-shadow: 1px 1px 1px 1px rgba(60, 0, 255, 0.674);
        width: 5em;
        height: fit-content;
        margin-bottom: 2px;
        border-radius: 2%;
    border: 1px black;
    background-color: rgba(255, 255, 255, 0.267)
}

.addbtn:hover {
    cursor: pointer;
    /* background-color: */
        background-color: rgba(243, 241, 255, 0.742);
}