.signInButton {

    margin: 1% 0 0 90%;
    /* padding: "1px";
    text-shadow: 1px black;
    background-color: rgba(32, 247, 197, 0.269);  */

    color: black;
    font-size: large;
    font-family: cursive;
    font-style: italic;
    box-shadow: 1px 1px 1px 1px rgba(86, 102, 244, 0.543);
    /* rgba(0, 10, 104, 1)  */
    min-width: max-content;
    /* max-width: 3em; */
    border-radius: 5%;

}

.signInButton:hover {
    /* background-color: rgba(20, 206, 57, 0.44); */
    cursor: pointer;
    background-color: rgba(86, 102, 244, 0.543);
    /* aquamarine; */
}