body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background-color: rgba(249, 249, 185, 0.607);
  /* 249 */
  /* background-image: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4wtbz?ver=f0ae"); */
  ;

  /* background-image: url("../src/pictures/mm.jpg"); */
  /* background-position: -1; */
  background-size: cover;
}

code {
  font-family: Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
