body {
  margin: 0;
        background-color: rgba(237, 240, 240, 0.9);
          /* background-color: rgba(241, 244, 244, 0.943); */
  background-size: cover;
}

code {
  font-family: cursive, Consolas, 'Courier New',
    monospace;
}
